<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회하기</title>
</head>
<body>
    <h1>사용자 등록</h1>
    <br>
    <form method="post" action="/process/login">
        <table>
            <tr>
                <td><label>아이디</label></td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td><label>비밀번호</label></td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type = "submit" value="로그인" name="">
        <button type="button" onclick="location.href='picture'">사용자추가</button>
        <table>
          </table>
    </form>
    
</body>
</html>